/* 2-5.1 - Agregando fuente externa */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
/* 2-5.1 - Agregando fuente local */
@font-face {
  font-family: "CascadiaCode";
  src: url("./fonts/CascadiaCode.ttf");
}

/* 1-5.5 - Agregando archivo de entrada de Tailwind CSS
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/* 2-2.1 - Agregando estilos globales */
body {
  /* margin: 2.5rem;
	display: flex;
	gap: 1.6rem;
	flex-direction: column;
	background-color: #ececec; */

  /* 2-2.2 - Agregando estilos por medio de las clases de Tailwind a archivo CSS */
  @apply gap-custom-size m-10 flex flex-col;
  /* 2-2.4 - Usando la clase personalizada que creamos */
}

/* 2-3.1 - Creando clase de componente de Tailwind */
@layer components {
  .btn-primary {
    @apply rounded bg-indigo-500 px-4 py-2 text-white;
  }
  /* 2-3.2 - Creando clase de componente para componente complejo */
  .panel {
    @apply w-80 border border-indigo-500;

    .panel__title {
      @apply bg-indigo-500 px-5 py-4 text-white;
    }
    .panel__body {
      @apply px-5 py-4;
    }
    .panel__body p {
      @apply mb-3 leading-7;
    }
  }
}
