/* Agregando fuente externa */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* Agregando fuente local */
@font-face {
  font-family: 'CascadiaCode';
  src: url('./fonts/CascadiaCode.ttf');
}

/* Agregando archivo de entrada de Tailwind CSS
*/
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* ? Agregando estilos bases a los inputs con Tailwind Form */
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply rounded-lg border border-slate-200 px-4 py-3 shadow-sm focus:border-slate-300 focus:ring-0;
  }
  [type='checkbox'],
  [type='radio'] {
    @apply rounded-lg border-slate-200 text-slate-300 focus:ring-slate-300;
  }

  /* Agregando estilos globales */
  body {
    /* margin: 2.5rem;
    display: flex;
    gap: 1.6rem;
    flex-direction: column;
    background-color: #ececec; */
    
    @apply bg-slate-50;
  }
}

/* ? Creando clase de componente de Tailwind */
@layer components {
  .btn-primary {
    @apply rounded bg-indigo-500 px-4 py-2 text-white;
  }
  /* Creando clase de componente para componente complejo */
  /* .panel {
    @apply w-80 border border-indigo-500;

    .panel__title {
      @apply bg-indigo-500 px-5 py-4 text-white;
    }
    .panel__body {
      @apply px-5 py-4;
    }
    .panel__body p {
      @apply mb-3 leading-7;
    }
  } */
}
